@charset "UTF-8";

body {
    background-color: #FFC;
	text-align:center;
	position:relative;
}

h1 {font-weight: normal; font-size: 25px;}
h1:hover {font-weight: bold;}

ul { position:absolute; top:0; left:50%;
margin:50px 0 0 100px;
	width:50%; float:right; text-align:left}
li { list-style:none;
    font-size: 20px;
}
