@charset "utf-8";

@import "compass";
@import "compass/reset";


@mixin b_radius($r_num){
	-o-border-radius: $r_num;
	-ms-border-radius: $r_num;
	-webkit-border-radius: $r_num;
	-moz-border-radius: $r_num;
	border-radius: $r_num;
}

body {
	font-family: "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic",Helvetica,Arial,Sans-Serif;
	color: #333333;
}

a {
	text-decoration: none;
}

.fb_edge_widget_with_comment span.fb_edge_comment_widget {
	display: none !important;
}
.fb_iframe_widget span {height: 20px; z-index: 0; overflow: hidden;}

.w_fix {
	width: 960px;
	margin: 0 auto;
}

article.solicitation {
	position: relative;
	width: 980px;
	margin: 0 auto;
	z-index: 1100;
	text-align: center;
	h2 {
		color: #fff;
		font-size: 32px;
		font-weight: bold;
		line-height: 1.25em;
		text-shadow: 0 0 30px #000;
		-moz-text-shadow: 0 0 30px #000;
		-webkit-text-shadow: 0 0 30px #000;
	}
	.btn_area {
		width: 300px;
		margin: 0 auto ;
		padding: 90px 0 60px;
		a.entry_btn {
			display: block;
			line-height: 60px;
			border-bottom: 3px solid #0a6962;
			font-size: 25px;
			font-weight: normal;
			color:  #fff;
			background: url("../img/icon_blank.png") 270px center no-repeat #0da69a;
			-o-border-radius: 5px;
			-ms-border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}
	}
}

#entry_top {
	position: relative;
	height: 600px;
	overflow: hidden;

	header {
		position: relative;
		width: 980px;
		height: 97px;
		margin: 0 auto;
		z-index: 1200;

		h1 {
			position: relative;
			padding-left: 10px;
			padding-top: 30px;

			.baloon {
				position: absolute;
				top: 5px;
				left: 165px;
				width: 90px;
				height: 90px;
				@include b_radius(45px);
					background: #333333;
				span {
					display: block;
					text-align: center;
					line-height: 1.5em;
					font-size: 12px;
					color: #fff;
					padding: 30px 0;
				}
				&:before {
					position: absolute;
					top: 35px;
					left: -10px;
					content: "";
					display: block;
					float: none;
					border:15px solid transparent;
					border-right-color:#333333;
					border-top-width: 10px;
					border-right-width: 15px;
					border-bottom-width: 10px;
					border-left-width: 0;
					width:0;
				}
			}
		}
		.sns {
			position: absolute;
			top: 40px;
			right: 0;

			ul {
				float: right;
				li {
					float: left;
					margin-left: 20px;
				}
			}
			iframe.twitter-share-button {
				width: 105px!important;
			}
		}
	}
	article {
		//margin-top: 169px;
		h2 {
			padding-top: 169px;
		}
	}
	.bg_img {
		position: absolute;
		z-index: 1000;
		top: 50%;
		left: 50%;
		width: 100%;
		min-width: 1200px;
		min-height: 600px;
	}
}


#interview {
	position: relative;
	height: auto;
	padding-bottom: 130px;
	overflow: visible;

	h2 {
		padding: 60px 0 65px;
		font-size: 50px;
		font-weight: normal;
		text-align: center;
	}

	.wrap {
		position: relative;
		width: 100%;
		height: auto;
		min-height: 655px;
	}
	.hide {
		display: none;
	}
	.p_box {
		position: absolute;
		width: 300px;
		min-height: 302px;
		border-bottom: 2px solid #d6d6d6;
		background: #f6f6f6;
		@include b_radius(10px);
		overflow: hidden;
		cursor: pointer;
	}
	.p_pic {
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		overflow: hidden;
		width: 200px;
		height: 200px;
		@include b_radius(100px);
		img {
			width: 200px;
		}
	}
	.arrow_right {
		position: absolute;
		top: 110px;
		right: 17px;
		width: 14px;
		height: 22px;
		/*background: url(../img/icon_arrow.png) top left no-repeat;*/
	}
	.close_btn {
		display: none;
		opacity: 0;
		position: absolute;
		padding: 10px;
		background: #0da69a;
		top: 0;
		right: 0;
		cursor: pointer;
	}
	.p_name {
		text-align: center;
		font-size:18px;
		padding-top: 20px;
		span {
			display: block;
			font-size:14px;
			padding-bottom: 8px;
		}
	}
	.detail {
		float: left ;
		width: 450px;
		margin-top: 40px;
		margin-left: 60px;

		.p_name {
			text-align: left;
			font-size: 35px;
			padding: 0;
			span {
				font-size: 22px;
			}
		}
		.p_subtitle {
			display: inline-block;
			background: #999;
			color: #fff;
			-o-border-radius: 4px;
			-ms-border-radius: 4px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			font-size: 13px;
			padding: 6px 30px 4px;
			margin-top: 40px;
			margin-bottom: 5px;

		}
		dl.p_history_list {
			font-size: 13px;
			line-height: 1.5em;
			width: auto;

			dt,dd {
				padding: 3px;
			}
			dt {
				clear: left;
				float: left;
				width: 70px;
			}
			dd {
				margin-left: 70px;
				padding-bottom: 12px;
			}
		}
		.p_comment_text {
			font-size: 13px;
			line-height: 1.7em;
		}
	}
	nav {
		opacity: 0;
		display: block;
		position: absolute;
		bottom: 0;
		left:0;
		width: 100%;
		clear: both;
		background: #fff;

		ul {
			position: relative;
			width: auto;
			height: 130px;
			border: 1px solid #eee;

			li {
				width: 90px;
				height: 100px;
				padding-top: 17px;
				//background-image: url("../img/icon_arrow_top.png");
				//background-repeat: no-repeat;
				//background-position: center 0px ;
				cursor: pointer;

				.arrow_top {
					position: absolute;
					top: 0;
					left: 50%;
					margin-left: -6px;
				}
				a {
					display: block;
					width: 90px;
					height: 90px;
					overflow: hidden;
					@include b_radius(45px);

					img {
						width: 90px;
					}
				}
			}
			&:before {
				position: absolute;
				top: -30px;
				left: 50%;
				margin-left: -30px;
				content: "";
				border:30px solid transparent;
				border-bottom-color:#eee;
				border-right-width: 30px;
				border-left-width: 30px;
				border-top-width:0;
				width:0;
			}
			&:after {
				position: absolute;
				top: -28px;
				left: 50%;
				margin-left: -30px;
				content: "";
				border:30px solid transparent;
				border-bottom-color:#fff;
				border-right-width: 30px;
				border-left-width: 30px;
				border-top-width:0;
				width:0;
			}

			.b_01 {
				position: absolute;
				top: 10px;
				left: 62px;
			}
			.b_02 {
				position: absolute;
				top: 10px;
				left: 254px;
			}
			.b_03 {
				position: absolute;
				top: 10px;
				left: 426px;
			}
			.b_04 {
				position: absolute;
				top: 10px;
				left: 618px;
			}
			.b_05 {
				position: absolute;
				top: 10px;
				left: 810px;
			}
		}
	}

	.p_01 {
		position: absolute;
		top: 0;
		left: 120px;
	}
	.p_02 {
		position: absolute;
		top: 0;
		left: 540px;
	}
	.p_03 {
		position: absolute;
		top: 340px;
		left: 0px;
	}
	.p_04 {
		position: absolute;
		top: 340px;
		left: 330px;
	}
	.p_05 {
		position: absolute;
		top: 340px;
		left: 660px;
	}
	.p_06 {
		display: none;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 200px;

		.p_box {
			position: relative;
			width: 100%;
			height: auto;
			padding-bottom: 180px;
			@include b_radius(0px);
			border-bottom: 0;

			.p_pic {
				float: left;
				width: 286px;
				height: auto;
				margin-top: 40px;
				margin-left: 40px;
				@include b_radius(0px);

				img {width: 286px;}
			}
		}
		.arrow_right {
			display: none;
		}
	}
}

#guidelines {
	background: url("../img/bg_pentagon.png") center center;
	padding-bottom: 120px;

	article {
		padding-top: 120px;

		.pic {
			width: 420px;
		}
		.text {
			color: #fff;
			width: 495px;
			h2 {
				font-size: 52px;
				padding-bottom: 40px;
			}
			ul {
				list-style-type: disc;
				margin-left: 20px;
				font-size: 16px;
				li {
					padding-bottom: 20px;
					line-height: 1.75em;

					b {
						/*
						display: inline-block;
						padding: 0px 5px;
						margin: 0 0.25em;
						background: #1269a3;
						*/
					}
					a {
						display: inline-block;
						text-decoration: underline;
						color: #ffffff;
						font-weight: normal;
						margin: 0 0.5em;
						padding: 0 0 0 0;
						/*background: url("../img/icon_blank.png") left center no-repeat;*/

						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}

		&:after {
			content: "";
			overflow: hidden;
			clear: both;
			display: block;
		}
		&:nth-child(even) {
			.pic {
				float: right;
			}
			.text {
				float: left;
			}
		}
		&:nth-child(odd) {
			.pic {
				float: left;
			}
			.text {
				float: right;
			}
		}
	}
	article.m_style {
		float: none;
		clear: both;

		.text {
			float:none;
			width: auto;

			h2 {
				text-align: center;
			}

			p {
				line-height: 1.75em;
			}
		}
		.environment {
			overflow: hidden;
			padding-top: 40px;
			margin-left: -25px;

			> div {
				width: 465px;
				height: 200px;
				background: #fff;
				margin-left: 25px;
				margin-bottom: 25px;
				-o-border-radius: 10px;
				-ms-border-radius: 10px;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;

				h3 {
					font-size: 25px;
					text-align: center;
					color: #0b897f;
					padding: 25px 0 30px;
				}
				ul {
					margin: 0;
					text-align: center;
					li {
						display: inline-block;
						list-style-type: disc;
						margin: 0 15px;
						padding: 0;
						img {
							vertical-align: center;
						}
					}
				}

				&:nth-child(even) {
					float: right;
				}
				&:nth-child(odd) {
					float: left;
				}
			}
			>div.tools {
				width: auto;
				float: none;
				clear: both;
			}

		}
	}
}
	
#entry_bottom {
	position: relative;
	height: 400px;
	overflow: hidden;

	header {
		position: relative;
		width: 980px;
		margin: 0 auto;
		z-index: 1100;
	}
	article {
		position: relative;
		width: 980px;
		margin: 0 auto 0;
		z-index: 1200;
		h2 {
			padding-top: 120px;
		}
	}
	.bg_img {
		position: absolute;
		z-index: 1000;
		top: 50%;
		left: 50%;
		width: 100%;
		min-width: 1200px;
		min-height: 400px;
	}
}


footer {
	height: 100px;
	background: #111111;
	color: #fff;
	font-size: 12px;

	.logo {
		float: left;
		padding-top: 30px;
	}

	ul {
		float: right;
		padding-top: 45px;
		li {
			float: left;
			margin-left: 20px;
			a {
				padding:  0 0 0 12px;
				color: #fff;
				background: url("../img/icon_arrow_w.png") left center no-repeat;
			}
		}
	}
}
